<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steveandconnie.projects.resistance" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".screens.CreateGame"
            android:label="@string/step_one_activity_title"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.RevealRoles"
            android:label="@string/step_two_activity_title" >
        </activity>
        <activity
            android:name=".screens.CurrentMission"
            android:label="@string/step_three_activity_title" >
        </activity>
        <activity
            android:name=".screens.LaunchMission"
            android:label="@string/title_activity_vote_for_mission" >
        </activity>
        <activity
            android:name=".screens.MissionVote"
            android:label="@string/title_activity_mission_vote" >
        </activity>
        <activity
            android:name=".screens.MissionResult"
            android:label="@string/title_activity_mission_result" >
        </activity>
        <activity
            android:name=".screens.FinishGame"
            android:label="@string/title_activity_finish_game" >
        </activity>
    </application>

</manifest>
